{% extends "base.html" %}
{% block content %}

<!--misión y visión de la empresa-->
<div class="col-md-6 text-center">
    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
      <div class="col p-4 d-flex flex-column position-static">
        <strong class="d-inline-block mb-2 text-primary">Mision</strong>
          <h3 class="mb-0">Fomentar la lectura en la comunidad</h3><br>
          <p class="card-text mb-auto">Ofrecer una gama variada de precios y posibilidades a nuestros clientes, con el fin de fomentar la lectura en todos los rangos etarios.</p>
      </div>
      <div class="col-auto d-none d-lg-block">
        <figure class="figure">
          <img src="https://despliegue.s3.amazonaws.com/imagenes/mision.jpg" class="figure-img img-fluid rounded" alt="...">
          <figcaption class="figure-caption text-end"></figcaption>
        </figure>

      </div>
    </div>
  </div>
  <div class="col-md-6 text-center">
    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
      <div class="col p-4 d-flex flex-column position-static">
        <strong class="d-inline-block mb-2 text-success">Visión</strong>
        <h3 class="mb-0">Ser una librería nacional sin perder el foco en el cuidado ambiental</h3><br>
        <p class="mb-auto">Como librería, ponemos mucho énfasis en el reciclaje, para con ello aportar nuestro grano de arena en areas del medio ambiente. Para ello ofrecemos una variada gama de libros reciclados, asi como también e-books.</p>
      </div>
      <div class="col-auto d-none d-lg-block">
          
          <figure class="figure">
            <img src="https://despliegue.s3.amazonaws.com/imagenes/vision.jpg" class="figure-img img-fluid rounded" alt="...">
            <figcaption class="figure-caption text-end"></figcaption>
          </figure>
      </div>
    </div>
  </div>

  {% endblock content %}

 