{% extends "base.html" %}
{% block content %}

<!--Descripción de la empresa-->
<div class="container">
	<div class="row">
		<div class="col-md-12 text-center">
			<h1>Sobre nosotros</h1><br>
			<p>Somos una librería situada en Chile especificamente en la capital Santiago, lider en el mercado nacional, nos dedicamos a vender libros, revistas y enciclopedias
				,queriendo que la lectura no se pierda con el pasar de los tiempos, ya que para nosotros es importante inculcar a los niños y jovenes en la lectura, cumpliendo este labor
				desde que empezo el primer local de libros de nuestra cadena en los años 1991 por el señor Rodrigo Aldea Velazques en Avenida Alameda Bernardo O’Higgins. Desde ese momento
				nos pusimos como meta que 1 de cada 5 niños o jovenes lea aunque sea un libro.
			</p>

			<iframe width="560" height="315" src="https://despliegue.s3.amazonaws.com/videos/Libreria.mp4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		</div>
	</div>
</div>


<br>
<br>

<!--MAPA-->
<div class="col-md-12; text-center">
	<h3 text='center'>Nos encuentras en: </h3>
	<iframe style="margin: 0 auto; display: block; border: 3px solid #019cba;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1661.5259705928186!2d-70.58874534186192!3d-33.603956761215024!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xc2de069134654311!2zMzPCsDM2JzE0LjMiUyA3MMKwMzUnMTUuNSJX!5e0!3m2!1ses-419!2scl!4v1662956285487!5m2!1ses-419!2scl"
  	width="500" height="350" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
<br><br>
{% endblock content %}