.btn {padding: 0.9em 1.6em; border: none; outline: none; color: #FFF; font-family: inherit; font-weight: 500; font-size: 17px; cursor: pointer; position: relative; z-index: 0; border-radius: 12px;} .btn::after {content: ""; z-index: -1; position: absolute; width: 100%; height: 100%; background-color: rgb(46, 46, 46); left: 0;top: 0;border-radius: 10px;}/* glow */.btn::before {content: "";background: linear-gradient(45deg,#FF0000, #002BFF, #FF00C8, #002BFF,#FF0000, #002BFF, #FF00C8, #002BFF);position: absolute;top: -2px;left: -2px;background-size: 600%;z-index: -1;width: calc(100% + 4px);height: calc(100% + 4px);filter: blur(8px);animation: glowing 20s linear infinite;transition: opacity .3s ease-in-out;border-radius: 10px;opacity: 0;}@keyframes glowing {0% { background-position: 0 0;}50% {background-position: 400% 0;}100% {background-position: 0 0;}}/* hover */.btn:hover::before {opacity: 1;}.btn:active:after {background: transparent;}.btn:active {color: #000;font-weight: bold;}

/* From uiverse.io by @alexruix */
/*Magic card*/
.card {
    width: 190px;
    height: 254px;
    background: #f5f5f5;
    overflow: visible;
    box-shadow: 0 5px 20px 2px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
   }
   
   .card-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    padding: 0 1rem;
   }
   
   .card-img {
    --size: 100px;
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    transform: translateY(-50%);
    background: #42caff;
    background: linear-gradient(to bottom, #42caff 0%, #e81aff 100%);
    position: justify;
    transition: all .3s ease-in-out;}.card-img::before {content: "";border-radius: inherit;position: absolute;top: 50%;left: 50%;width: 90%;height: 90%;transform: translate(-50%, -50%);border: 1rem solid #e8e8e8;}/*Text*/.text-title {text-transform: uppercase;font-size: 0.75em;color: #42caff;letter-spacing: 0.05rem;}.text-body {font-size: .8em;text-align: center;color: #6f6d78;font-weight: 400;font-style: italic;}/*Hover*/.card:hover .card-img {--size: 110px;width: var(--size);height: var(--size);}
